:root{
  --fg: #1d201f;
  --theme: #04a777;
  --bg1: #dee5e5;
  --bg2: #ffffff;
  --error: #ef626c;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: font1;
  src: url(/codefiles/assets/hind.ttf);
}
@font-face {
  font-family: icons;
  src: url(/codefiles/assets/icons.ttf);
}
.icon{
  font-family: icons;
  display: inline-block;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: font1;
  padding: 0px;
  margin: 0px;
  font-size: 5mm;
  background: var(--bg1);
  color: var(--fg);
  text-align: center;
}
header {
  display: grid;
  grid-template-columns: 1fr auto;
}
header a:first-child{
  padding: 5mm;
  text-decoration: none;
  font-size: 10mm;
  color: var(--fg);
}
header img{
  height: 10mm;
  width: auto;
  margin-right: 2mm;
}
header .icon{
  font-size: 8mm;
  padding: 5mm;
  background: var(--fg);
  color: var(--theme);
  border-radius: 0 0 0 5mm;
}
.hnav{
  padding: 5mm;
  padding-bottom: 30vh;
  text-align: center;
}

h1,h2,h3{
  font-weight: normal;
}
h1{
  font-size: 160%;
}
h2{
  font-size: 130%;
}
h3{
  font-size: 110%;
}
a.btn{
  text-decoration: none;
  display: inline-block;
  padding: 2mm 8mm;
  background: var(--theme);
  color: var(--bg2);
  border-radius: 10mm;
}
#loading{
  display: block;
  padding: 40mm 20mm 0mm 20mm;
  background: var(--bg1);
  border-radius: 5mm;
  min-height: 100vh;
  animation: loadbg 4s infinite;
}
@keyframes loadbg{
  from{background: var(--bg1);}
  to{background: var(--bg2);}
}
#loading>img{
  height: 20mm;
  width: auto;
}
#app{
  display: none;
  background: var(--bg1);
  width: 100%;
  max-width: 180mm;
  text-align: left;
}
#home,#menu{
  text-align: center;
}
#home{
  padding-top: 40mm;
}
#menu a.btn,#shop a.btn{
  margin: 2mm;
}
.category_screen{
  text-align: center;
}
.category_screen>h1,#checkout>h1{
  color: var(--theme);
  text-align: center;
}
.shopitem{
  display: grid;
  background: var(--bg2);
  border-radius: 2mm;
  grid-template-columns: 35% auto 1fr;
  grid-template-rows: 1fr auto auto auto;
  text-align: left;
  margin: 5mm 0mm;
  box-shadow: 0 0.25mm 1mm rgba(0,0,0,0.3);
}
.shopitem img{
  grid-row: 1/4;
  width: 100%;
  height: auto;
  border-radius: 2mm;
}
.shopitem span,.shopitem div{
  display: inline-block;
}
.shopitem span.name{
  grid-column: span 2;
  padding: 2mm; 
}
.shopitem span.price{
  color: var(--theme);
  padding: 1mm 2mm;
}
.shopitem button{
  background: var(--theme);
  font-family: font1;
  font-size: 4mm;
  padding: 0.10mm 4mm 0.40mm 4mm;
  margin: 0.75mm 2mm;
  border-radius: 10mm;
  color: var(--bg2);
  border: none;
  outline: none;
}
.shopitem div.qctrl{
  align-self: center;
}
.shopitem .icon{
  color: var(--theme);
  font-size: 7mm;
  vertical-align: -0.75mm;
  margin: 0 2mm;
}
.shopitem span.instock,.shopitem span.outofstock{
  font-size: 4mm;
  padding: 1mm 2mm;
  color: var(--theme);
}
.shopitem span.showdesc,.shopitem span.hidedesc{
  text-align: right;
  font-size: 5mm;
  padding: 1mm 6mm;
  color: var(--theme);
}
.shopitem span.outofstock,.shopitem span.hidedesc{
  color: var(--error);
}

.shopitem div.description{
  grid-row: 4/5;
  grid-column: span 3;
  padding: 4mm;
}

#footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  max-width: 180mm;
  display: grid;
  grid-template-columns: 1fr auto;
  background: var(--theme);
  color: var(--bg2);
  padding: 5mm;
}
#footer span{
  font-size: 6mm;
}
#footer a{
  text-decoration: none;
  display: inline-block;
  padding: 1.5mm 4mm 0.5mm 4mm;
  border-radius: 10mm;
  background: var(--bg2);
  color: var(--theme);
  font-size: 4mm;
}
#checkout input,#checkout button{
  border: none;
  outline: none;
  display: inline-block;
  width: 90%;
  max-width: 7cm;
  padding: 2mm 5mm;
  border-radius: 2cm;
  margin: 2mm 0mm;
  font-size: 5mm;
  font-family: font1;
  text-align: center;
}
#checkout button{
  background: var(--theme);
  color: var(--bg2);
}

#home details{
  background: var(--bg2);
  padding: 5mm;
  margin: 5mm 0mm;
  box-shadow: 0 0.25mm 1mm rgba(0,0,0,0.3);
  border-radius: 2mm;
}
#home summary{
  color: var(--theme);
  font-size: 110%;
  outline: none;
  border: none;
}
details[open] summary{
  border: none;
  outline: none;
}
details a{
  color: var(--theme);
}
