<html>
<head>
  <title>FlashCart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#1d201f">
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="/codefiles/assets/icon.png"/>
  <link rel="stylesheet" type="text/css" href="/codefiles/css/main.css"/>
  <script src="/codefiles/js/hnav.js"></script>
  <script src="/codefiles/js/papaparse.min.js"></script>
  <script src="/codefiles/js/vue.min.js"></script>
  <script src="/codefiles/js/settings.js"></script>
  <script src="/codefiles/js/main.js"></script>
</head>
<body onload="init()">
<div id="loading">
  <img src="/codefiles/assets/icon.png"><br>
  <h2>Loading</h2>
</div>
<div id="app">
  <header>
    <a href="#home">
      <img src="/codefiles/assets/logotext.png">
    </a>
    <a href="#menu">
      <span class="icon">m</span>
    </a>
  </header>
  <section id="home" class="hnav" hnav:start>
    <h3>
      FlashCart is a quick-setup and easy-use 
      website template for your online shop. 
      <br>
      Manage your inventory
      using familiar spreadsheet software such as MS Excel or Google Sheets.
      Receive and manage orders via WhatsApp, Email or SMS.
    </h3>
    <a href="#shop" class="btn">Try the demo</a>
    <br><br>
    <h1>Why FlashCart?</h1>
    
    <details>
      <summary>Zero commissions on your sales</summary>
      <p>
        FlashCart is a self-hosted e-commerce solution. 
        You only pay for your domain name, internet hosting and a one
        time service charge to a web developer for setting it up for you.
        <br><br>
        Unlike the usual e-commerce/food-delivery platforms, you do not have to pay commisions
        for every sale you accomplish. This will be your website, your rules and your responsibility.
      </p>
    </details>
    
    <details>
      <summary>Mobile first UI Design</summary>
      <p>
        Why open your PC and wait for it to boot just to order
        something online? That is if you have a PC in the first place.        
      </p>
    </details>
    
    <details>
      <summary>Orders received via WhatsApp</summary>
      <p>
      When orders are placed, the webpage automatically sends a message via
      WhatsApp from the customer's phone to your shop's phone. Heads up, this
      happens with the knowledge of the customer. You as the shop manager can
      follow up from there regarding payment, delivery and feedback. We believe
      business is about building relationships, and a messaging platform is 
      the best suited for that. Email and SMS options are also available.<br><br>
      If your shop is already forwarding inventory lists to your customers
      on a regular basis, this template only enhances that experience by
      providing a nice UI for displaying, updating and picking items, while the rest of your communication
      with customers remains as it is.
      </p>
    </details>
    
    <details>
      <summary>No-login UX</summary>
      <p>
      Did you know that 1 out of 3 online shoppers abandon their cart 
      just because they are forced to create an account and login?
      <br><br> 
      Our innovative UX puts the customer in touch with the shop manager 
      without any account creation or login hassles.
      </p>
    </details>
    
    <details>
      <summary>Easy inventory management</summary>
      <p>
      Edit your inventory with MS Excel or Google Sheets.
      Upload just one file to update the store listings. 
      Everything else is automatically handled.
      </p>
    </details>
    
    <details>
      <summary>Quick setup</summary>
      <p>
      Flashcart is made by <a href="https://wiosdesigns.xyz">WIOS Designs.</a>
      We are based out of Bengaluru, India and our developer can drop by 
      anywhere in or around the city to set this up for you in a matter of hours. The template
      can be customized with your logo, shop descriptions, inventory and hosted
      on your shop's own domain name. Even if you aren't based in Bengaluru, 
      we can set it up for you if you get in touch via Email (flashcart@wiosdesigns.xyz) 
      or Phone/WhatsApp (+91 9538065734).
      <br><br>
      This project is made with Vue.js and is open source, which means, any
      web developer experienced with Vue.js can set it up for you. If
      you are a developer, feel free to see the code and use it for 
      your clients.
      </p>
    </details>
    
    <br><br>
    <h1>Featured items</h1>
    
    <shop-item 
      v-for="i in items" 
      v-if="i.Featured=='yes'" 
      v-bind:name="i.Name"
      v-bind:description="i.Description"
      v-bind:unitprice="i['Unit Price']"
      v-bind:unit="i['Unit']"
      v-bind:instock="i['In Stock']"
      v-bind:quantity="i.quantity"
      v-on:plus="i.quantity++"
      v-on:minus="if(i.quantity>0) i.quantity--"
      >
    </shop-item>
    
  </section>
  
  <section id="menu" class="hnav">
    <h1>Menu</h1>
    <a class="btn" href="#home">Home Page</a>
    <a class="btn" href="#shop">Shop</a>
    <a class="btn" v-if="nitems>0" href="#checkout">Check Out</a>
    <br><br>
    <h2>Shop by categories</h2>
    <a class="btn" v-for="c in categories" v-bind:href="'#'+encodeURIComponent(c)">
      {{c}}
    </a>
  </section>
  
  <section id="shop" class="hnav">
    <h1>Shop</h1>
    <h3>This only a demo. Items listed here are not for sale.</h3>
    <h2>Shop by categories</h2>
    <a class="btn" v-for="c in categories" v-bind:href="'#'+encodeURIComponent(c)">
      {{c}}
    </a>
    <br><br>
    <h2>Or search for items</h2>
    <div class="searchbox">
      <input id="searchquery" type="text">
      <span class="icon" v-on:click="search">s</span>
    </div>
    <br>
    <p v-if="!matches">No items matched your search</p>
    <shop-item 
      v-for="i in items" 
      v-if="i.match" 
      v-bind:name="i.Name"
      v-bind:image="i.Image"
      v-bind:description="i.Description"
      v-bind:unitprice="i['Unit Price']"
      v-bind:unit="i['Unit']"
      v-bind:instock="i['In Stock']"
      v-bind:quantity="i.quantity"
      v-on:plus="i.quantity++"
      v-on:minus="if(i.quantity>0) i.quantity--"
      >
    </shop-item>
  </section>
  
  <section v-for="c in categories" class="hnav category_screen" v-bind:id="encodeURIComponent(c)" class="hnav">
    <h1>{{c}}</h1>
    <shop-item 
      v-for="i in items" 
      v-if="i.Category==c" 
      v-bind:name="i.Name"
      v-bind:image="i.Image"
      v-bind:description="i.Description"
      v-bind:unitprice="i['Unit Price']"
      v-bind:unit="i['Unit']"
      v-bind:instock="i['In Stock']"
      v-bind:quantity="i.quantity"
      v-on:plus="i.quantity++"
      v-on:minus="if(i.quantity>0) i.quantity--"
      >
    </shop-item>
  </section>
    
  <section id="checkout" class="hnav" hnav:on="app.cartpage=true;" hnav:off="app.cartpage=false;">
    <h1>Your Cart</h1>
    <button v-if="nitems!=0" onclick="goToOrder()">Review & Place Order</button><br>
      
    <shop-item 
      v-for="i in items" 
      v-if="i.quantity>0" 
      v-bind:name="i.Name"
      v-bind:description="i.Description"
      v-bind:unitprice="i['Unit Price']"
      v-bind:unit="i['Unit']"
      v-bind:instock="i['In Stock']"
      v-bind:quantity="i.quantity"
      v-on:plus="i.quantity++"
      v-on:minus="if(i.quantity>0) i.quantity--"
      v-bind:compact="true"
      >
    </shop-item>
    
    <div v-if="nitems==0">
      Your cart is empty
    </div>
    <div v-else id="placeorder">
      <span>Total: {{settings.currency}}{{carttotal}}</span>
      <h2>Place order</h2>
      <input type="text" v-model:value="name" placeholder="(Your Name)"><br>
      <p>
        By ordering, your contact information will be shared with us,
        and we promise not to sell/share your data to any third-parties.
        <br><br>
        Note: SMS option works only on Android devices
      </p>
      <button v-on:click="orderwa">Order Via WhatsApp</button><br>
      <button v-on:click="ordersms">Order Via SMS</button><br>
      <button v-on:click="orderemail">Order Via Email</button><br>
    </div>
  </section>
  
  <div id="footer" v-if="nitems>0 && !cartpage">
    <span>{{nitems}} item<span v-if="nitems>1">s</span> in cart</span>
    <a href="#checkout">Checkout</a>
  </div>
  
</div>
<script type="text/x-template" id="shop-item-template">
  <div class="shopitem">
    <img v-if="!compact" src="/inventory/images/b1.jpg">
    <span class="name">{{name}}</span>
    <span class="price">{{$parent.settings.currency}}{{unitprice}}/{{unit}}</span>
    <button v-on:click="$emit('plus')" v-if="instock=='yes' && quantity<1">Add to cart</button>
    <div class="qctrl" v-else-if="instock=='yes' && quantity>0">
      <span class="icon" v-on:click="$emit('minus')">r</span>
      <span>{{quantity}}</span>
      <span class="icon" v-on:click="$emit('plus')">a</span>
    </div>
    <span v-else class="outofstock">Out of Stock</span>
    <details v-if="!compact">
      <summary>Description</summary>
      {{description}}
    </details>
  </div>
</script>
</body>
</html>
